<% include ./partials/header %>

<h1 id="login">Login!</h1>

<form id="login" action="/login" method="post">
    <input type="text" name="username" placeholder="username"> <br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <input type="submit" value="Login">
</form>

<% include ./partials/footer %>
